.vscode/
yolov5/train.py
.vscode/settings.json
LabelTool/train
LabelTool/val
LabelTool/Score.csv
runs
spider/rank_data
main/test_thurstone.py
main/__pycache__/
LabelTool/ForTestingImage
LabelTool/__pycache__/
LabelTool/backup27/Image_label.csv
LabelTool/backup27/record.csv
LabelTool/backup27/Score.csv
LabelTool/backup27/test.csv
LabelTool/backup27/train.csv
*.zip

main/__pycache__/
main/src/module/__pycache__/
main/src/training/__pycache__/
main/src/processing/__pycache__/
LabelTool/__pycache__/
.env
data/cifar-10-python.tar.gz
data/cifar-10-batches-py/batches.meta
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/readme.html
data/cifar-10-batches-py/test_batch
main/BYOL_image.py
efficientnet_b0_cifar10_accuracy_cht.png
